name: joystick_example
description: Joystick Example.

publish_to: 'none'

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  joystick:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
